body {
    margin: 0;
    font-family: "Montserrat",sans-serif
}

.block-black {
    background-color: #18181c;
    height: 124vh;
    width: 19.8em;
    position: absolute;
    z-index: -99
}

#title {
    position: absolute;
    bottom: 57.5em;
    left: 4.8em
}

.p {
    position: absolute;
    bottom: 38.9em;
    left: 3em;
    color: #fff;
    font-size: 0.9em
}

p {
    padding: 8px;
    text-decoration: none
}

h1 {
    position: absolute;
    bottom: 32.4em;
    left: 3.4em;
    text-transform: capitalize;
    font-size: 15px;
    color: #99896e
}

.p2 {
    position: absolute;
    bottom: 19em;
    left: 3.1em;
    color: #fff;
    font-size: 14px
}

.p2 p {
    padding: 4px
}

ul {
    position: absolute;
    top: 63.27em;
    left: 3.2em;
    display: inline-block
}

li {
    display: inline-block
}

.p3 {
    position: absolute;
    top: 86em;
    left: 2.7em;
    color: #99896e;
    text-align: center;
    font-size: 13px
}

main>img {
    position: absolute
}

.img1 {
    top: 3.1em;
    left: 22.6em;
    width: 374px
}

.img2 {
    left: 45.95em;
    top: 3.1em;
    width: 748px
}

.img3 {
    top: 3.1em;
    left: 92.68em;
    width: 374px
}

.img4 {
    top: 26.44em;
    left: 45.95em;
    width: 374px
}

.img5 {
    top: 26.44em;
    left: 69.3em;
    width: 374px
}

.img6 {
    top: 26.44em;
    left: 92.68em;
    width: 374px
}

.img7 {
    top: 49.8em;
    left: 22.6em;
    width: 374px
}

.img8 {
    top: 49.8em;
    left: 45.96em;
    width: 374px
}

.img9 {
    top: 49.8em;
    left: 69.3em;
    width: 748px
}